# Finance Project Test Notebook

Creating ipython notebook for use in documenting algorithm creation and backtesting process.

In [11]:
import zipline

In [13]:
#ipython command to run algorithm

%%zipline --start 2010-06-06 --end 2014-06-06 --symbols AAPL -o df

from zipline.api import order, record, symbol

def initialize(context):
    pass

def handle_data(context, data):
    order(symbol("AAPL"), 10)
    record(AAPL=data[symbol("AAPL")].price)

AAPL
data files aren't distributed with source.
Fetching data from Yahoo Finance.
data files aren't distributed with source.
Fetching data from data.treasury.gov

In [14]:
df.head()

,AAPL,capital_used,ending_cash,ending_value,orders,period_close,period_open,pnl,portfolio_value,positions,returns,starting_cash,starting_value,transactions
2010-06-07 20:00:00,33.522007,0.00000,10000000.00000,0.00000,"[{u'status': 0, u'created': 2010-06-07 00:00:0...",2010-06-07 20:00:00+00:00,2010-06-07 13:31:00+00:00,0.00000,10000000.00000,[],0.000000e+00,10000000.00000,0.00000,[]
2010-06-08 20:00:00,33.306934,-333.36934,9999666.63066,333.06934,"[{u'status': 1, u'created': 2010-06-07 00:00:0...",2010-06-08 20:00:00+00:00,2010-06-08 13:31:00+00:00,-0.30000,9999999.70000,"[{u'amount': 10, u'last_sale_price': 33.306934...",-3.000000e-08,10000000.00000,0.00000,"[{u'commission': 0.3, u'amount': 10, u'sid': u..."
2010-06-09 20:00:00,32.488054,-325.18054,9999341.45012,649.76108,"[{u'status': 1, u'created': 2010-06-08 00:00:0...",2010-06-09 20:00:00+00:00,2010-06-09 13:31:00+00:00,-8.48880,9999991.21120,"[{u'amount': 20, u'last_sale_price': 32.488054...",-8.488800e-07,9999666.63066,333.06934,"[{u'commission': 0.3, u'amount': 10, u'sid': u..."
2010-06-10 20:00:00,33.464565,-334.94565,9999006.50447,1003.93695,"[{u'status': 1, u'created': 2010-06-09 00:00:0...",2010-06-10 20:00:00+00:00,2010-06-10 13:31:00+00:00,19.23022,10000010.44142,"[{u'amount': 30, u'last_sale_price': 33.464565...",1.923024e-06,9999341.45012,649.76108,"[{u'commission': 0.3, u'amount': 10, u'sid': u..."
2010-06-11 20:00:00,33.865321,-338.95321,9998667.55126,1354.61284,"[{u'status': 1, u'created': 2010-06-10 00:00:0...",2010-06-11 20:00:00+00:00,2010-06-11 13:31:00+00:00,11.72268,10000022.16410,"[{u'amount': 40, u'last_sale_price': 33.865321...",1.172267e-06,9999006.50447,1003.93695,"[{u'commission': 0.3, u'amount': 10, u'sid': u..."

In [16]:
df.shape

(1008, 14)

In [17]:
df.size

14112

In [18]:
df[["AAPL", "positions", "returns"]]

,AAPL,positions,returns
2010-06-07 20:00:00,33.522007,[],0.000000e+00
2010-06-08 20:00:00,33.306934,"[{u'amount': 10, u'last_sale_price': 33.306934...",-3.000000e-08
2010-06-09 20:00:00,32.488054,"[{u'amount': 20, u'last_sale_price': 32.488054...",-8.488800e-07
2010-06-10 20:00:00,33.464565,"[{u'amount': 30, u'last_sale_price': 33.464565...",1.923024e-06
2010-06-11 20:00:00,33.865321,"[{u'amount': 40, u'last_sale_price': 33.865321...",1.172267e-06
2010-06-14 20:00:00,33.968182,"[{u'amount': 50, u'last_sale_price': 33.968182...",3.814432e-07
2010-06-15 20:00:00,34.690882,"[{u'amount': 60, u'last_sale_price': 34.690882...",3.583491e-06
2010-06-16 20:00:00,35.700788,"[{u'amount': 70, u'last_sale_price': 35.700788...",6.029399e-06
2010-06-17 20:00:00,36.317954,"[{u'amount': 80, u'last_sale_price': 36.317954...",4.290110e-06
2010-06-18 20:00:00,36.611846,"[{u'amount': 90, u'last_sale_price': 36.611846...",2.321098e-06
2010-06-21 20:00:00,36.090860,"[{u'amount': 100, u'last_sale_price': 36.09086...",-4.718785e-06
2010-06-22 20:00:00,36.582456,"[{u'amount': 110, u'last_sale_price': 36.58245...",4.885891e-06
2010-06-23 20:00:00,36.197728,"[{u'amount': 120, u'last_sale_price': 36.19772...",-4.261927e-06
2010-06-24 20:00:00,35.934563,"[{u'amount': 130, u'last_sale_price': 35.93456...",-3.187933e-06
2010-06-25 20:00:00,35.627316,"[{u'amount': 140, u'last_sale_price': 35.62731...",-4.024165e-06
2010-06-28 20:00:00,35.841055,"[{u'amount': 150, u'last_sale_price': 35.84105...",2.962324e-06
2010-06-29 20:00:00,34.220660,"[{u'amount': 160, u'last_sale_price': 34.22066...",-2.433567e-05
2010-06-30 20:00:00,33.600822,"[{u'amount': 170, u'last_sale_price': 33.60082...",-9.947546e-06
2010-07-01 20:00:00,33.193385,"[{u'amount': 180, u'last_sale_price': 33.19338...",-6.956595e-06
2010-07-02 20:00:00,32.987662,"[{u'amount': 190, u'last_sale_price': 32.98766...",-3.733129e-06
2010-07-06 20:00:00,33.213422,"[{u'amount': 200, u'last_sale_price': 33.21342...",4.259587e-06
2010-07-07 20:00:00,34.554625,"[{u'amount': 210, u'last_sale_price': 34.55462...",2.679487e-05
2010-07-08 20:00:00,34.477143,"[{u'amount': 220, u'last_sale_price': 34.47714...",-1.657128e-06
2010-07-09 20:00:00,34.681529,"[{u'amount': 230, u'last_sale_price': 34.68152...",4.466515e-06
2010-07-12 20:00:00,34.370276,"[{u'amount': 240, u'last_sale_price': 34.37027...",-7.188824e-06
2010-07-13 20:00:00,33.636889,"[{u'amount': 250, u'last_sale_price': 33.63688...",-1.763143e-05
2010-07-14 20:00:00,33.761125,"[{u'amount': 260, u'last_sale_price': 33.76112...",3.075978e-06
2010-07-15 20:00:00,33.590135,"[{u'amount': 270, u'last_sale_price': 33.59013...",-4.475840e-06
2010-07-16 20:00:00,33.383078,"[{u'amount': 280, u'last_sale_price': 33.38307...",-5.620690e-06
2010-07-19 20:00:00,32.805988,"[{u'amount': 290, u'last_sale_price': 32.80598...",-1.618905e-05
...,...,...,...
2014-04-25 20:00:00,79.490866,"[{u'amount': 9780, u'last_sale_price': 79.4908...",5.561800e-04
2014-04-28 20:00:00,82.569381,"[{u'amount': 9790, u'last_sale_price': 82.5693...",2.955817e-03
2014-04-29 20:00:00,82.324762,"[{u'amount': 9800, u'last_sale_price': 82.3247...",-2.344484e-04
2014-04-30 20:00:00,82.013437,"[{u'amount': 9810, u'last_sale_price': 82.0134...",-2.987477e-04
2014-05-01 20:00:00,82.206632,"[{u'amount': 9820, u'last_sale_price': 82.2066...",1.855870e-04
2014-05-02 20:00:00,82.359515,"[{u'amount': 9830, u'last_sale_price': 82.3595...",1.469788e-04
2014-05-05 20:00:00,83.524199,"[{u'amount': 9840, u'last_sale_price': 83.5241...",1.120875e-03
2014-05-06 20:00:00,82.613857,"[{u'amount': 9850, u'last_sale_price': 82.6138...",-8.760619e-04
2014-05-07 20:00:00,82.324762,"[{u'amount': 9860, u'last_sale_price': 82.3247...",-2.787557e-04
2014-05-08 20:00:00,82.178015,"[{u'amount': 9870, u'last_sale_price': 82.1780...",-1.416963e-04
2014-05-09 20:00:00,81.835602,"[{u'amount': 9880, u'last_sale_price': 81.8356...",-3.309709e-04
2014-05-12 20:00:00,82.854458,"[{u'amount': 9890, u'last_sale_price': 82.8544...",9.860170e-04
2014-05-13 20:00:00,82.984437,"[{u'amount': 9900, u'last_sale_price': 82.9844...",1.257673e-04
2014-05-14 20:00:00,82.999806,"[{u'amount': 9910, u'last_sale_price': 82.9998...",1.485828e-05
2014-05-15 20:00:00,82.294014,"[{u'amount': 9920, u'last_sale_price': 82.2940...",-6.843961e-04
2014-05-16 20:00:00,83.508540,"[{u'amount': 9930, u'last_sale_price': 83.5085...",1.179624e-03
2014-05-19 20:00:00,84.498047,"[{u'amount': 9940, u'last_sale_price': 84.4980...",9.609011e-04
2014-05-20 20:00:00,84.514819,"[{u'amount': 9950, u'last_sale_price': 84.5148...",1.625907e-05
2014-05-21 20:00:00,84.738434,"[{u'amount': 9960, u'last_sale_price': 84.7384...",2.173527e-04
2014-05-22 20:00:00,84.872600,"[{u'amount': 9970, u'last_sale_price': 84.8726...",1.304997e-04
2014-05-23 20:00:00,85.831363,"[{u'amount': 9980, u'last_sale_price': 85.8313...",9.335582e-04
2014-05-27 20:00:00,87.438617,"[{u'amount': 9990, u'last_sale_price': 87.4386...",1.565130e-03
2014-05-28 20:00:00,87.212202,"[{u'amount': 10000, u'last_sale_price': 87.212...",-2.203903e-04
2014-05-29 20:00:00,88.801281,"[{u'amount': 10010, u'last_sale_price': 88.801...",1.548450e-03
2014-05-30 20:00:00,88.468654,"[{u'amount': 10020, u'last_sale_price': 88.468...",-3.239803e-04
2014-06-02 20:00:00,87.860693,"[{u'amount': 10030, u'last_sale_price': 87.860...",-5.929164e-04
2014-06-03 20:00:00,89.103164,"[{u'amount': 10040, u'last_sale_price': 89.103...",1.213565e-03
2014-06-04 20:00:00,90.120624,"[{u'amount': 10050, u'last_sale_price': 90.120...",9.935685e-04
2014-06-05 20:00:00,90.474218,"[{u'amount': 10060, u'last_sale_price': 90.474...",3.452729e-04
2014-06-06 20:00:00,90.225449,"[{u'amount': 10070, u'last_sale_price': 90.225...",-2.431222e-04

In [19]:
df.head()

,AAPL,capital_used,ending_cash,ending_value,orders,period_close,period_open,pnl,portfolio_value,positions,returns,starting_cash,starting_value,transactions
2010-06-07 20:00:00,33.522007,0.00000,10000000.00000,0.00000,"[{u'status': 0, u'created': 2010-06-07 00:00:0...",2010-06-07 20:00:00+00:00,2010-06-07 13:31:00+00:00,0.00000,10000000.00000,[],0.000000e+00,10000000.00000,0.00000,[]
2010-06-08 20:00:00,33.306934,-333.36934,9999666.63066,333.06934,"[{u'status': 1, u'created': 2010-06-07 00:00:0...",2010-06-08 20:00:00+00:00,2010-06-08 13:31:00+00:00,-0.30000,9999999.70000,"[{u'amount': 10, u'last_sale_price': 33.306934...",-3.000000e-08,10000000.00000,0.00000,"[{u'commission': 0.3, u'amount': 10, u'sid': u..."
2010-06-09 20:00:00,32.488054,-325.18054,9999341.45012,649.76108,"[{u'status': 1, u'created': 2010-06-08 00:00:0...",2010-06-09 20:00:00+00:00,2010-06-09 13:31:00+00:00,-8.48880,9999991.21120,"[{u'amount': 20, u'last_sale_price': 32.488054...",-8.488800e-07,9999666.63066,333.06934,"[{u'commission': 0.3, u'amount': 10, u'sid': u..."
2010-06-10 20:00:00,33.464565,-334.94565,9999006.50447,1003.93695,"[{u'status': 1, u'created': 2010-06-09 00:00:0...",2010-06-10 20:00:00+00:00,2010-06-10 13:31:00+00:00,19.23022,10000010.44142,"[{u'amount': 30, u'last_sale_price': 33.464565...",1.923024e-06,9999341.45012,649.76108,"[{u'commission': 0.3, u'amount': 10, u'sid': u..."
2010-06-11 20:00:00,33.865321,-338.95321,9998667.55126,1354.61284,"[{u'status': 1, u'created': 2010-06-10 00:00:0...",2010-06-11 20:00:00+00:00,2010-06-11 13:31:00+00:00,11.72268,10000022.16410,"[{u'amount': 40, u'last_sale_price': 33.865321...",1.172267e-06,9999006.50447,1003.93695,"[{u'commission': 0.3, u'amount': 10, u'sid': u..."

In [20]:
sliced_df = df[["AAPL", "orders", "transactions", "positions", "returns"]]

In [21]:
sliced_df.head()

,AAPL,orders,transactions,positions,returns
2010-06-07 20:00:00,33.522007,"[{u'status': 0, u'created': 2010-06-07 00:00:0...",[],[],0.000000e+00
2010-06-08 20:00:00,33.306934,"[{u'status': 1, u'created': 2010-06-07 00:00:0...","[{u'commission': 0.3, u'amount': 10, u'sid': u...","[{u'amount': 10, u'last_sale_price': 33.306934...",-3.000000e-08
2010-06-09 20:00:00,32.488054,"[{u'status': 1, u'created': 2010-06-08 00:00:0...","[{u'commission': 0.3, u'amount': 10, u'sid': u...","[{u'amount': 20, u'last_sale_price': 32.488054...",-8.488800e-07
2010-06-10 20:00:00,33.464565,"[{u'status': 1, u'created': 2010-06-09 00:00:0...","[{u'commission': 0.3, u'amount': 10, u'sid': u...","[{u'amount': 30, u'last_sale_price': 33.464565...",1.923024e-06
2010-06-11 20:00:00,33.865321,"[{u'status': 1, u'created': 2010-06-10 00:00:0...","[{u'commission': 0.3, u'amount': 10, u'sid': u...","[{u'amount': 40, u'last_sale_price': 33.865321...",1.172267e-06

In [36]:
#manual method of running alorithm

import pytz
from datetime import datetime

from zipline.algorithm import TradingAlgorithm
from zipline.utils.factory import load_bars_from_yahoo

#start and end datetime objects with utc spec
start = datetime(2013, 6, 6, 0, 0, 0, 0, pytz.utc)
end = datetime(2014, 6, 6, 0, 0, 0, 0, pytz.utc)

stock_data = load_bars_from_yahoo(stocks=["AAPL"], start=start, end=end)

#define algo
def initialize(context):
    pass

def handle_data(context, data):
    order(symbol("AAPL"), 20)
    record(AAPL=data[symbol("AAPL")].price)
    
#pass in defined methods to algo obj
algo_obj = TradingAlgorithm(initialize=initialize, handle_data=handle_data)

#run algo
aapl_df = algo_obj.run(stock_data)

AAPL

In [38]:
aapl_df.head()

,AAPL,capital_used,ending_cash,ending_value,orders,period_close,period_open,pnl,portfolio_value,positions,returns,starting_cash,starting_value,transactions
2013-06-06 20:00:00,59.829950,0.00000,100000.00000,0.00000,"[{u'status': 0, u'created': 2013-06-06 00:00:0...",2013-06-06 20:00:00+00:00,2013-06-06 13:31:00+00:00,0.00000,100000.00000,[],0.000000,100000.0000,0.0000,[]
2013-06-07 20:00:00,60.287075,-1206.34150,98793.65850,1205.74150,"[{u'status': 1, u'created': 2013-06-06 00:00:0...",2013-06-07 20:00:00+00:00,2013-06-07 13:31:00+00:00,-0.60000,99999.40000,"[{u'amount': 20, u'last_sale_price': 60.287075...",-0.000006,100000.0000,0.0000,"[{u'commission': 0.6, u'amount': 20, u'sid': u..."
2013-06-10 20:00:00,59.888625,-1198.37250,97595.28600,2395.54500,"[{u'status': 1, u'created': 2013-06-07 00:00:0...",2013-06-10 20:00:00+00:00,2013-06-10 13:31:00+00:00,-8.56900,99990.83100,"[{u'amount': 40, u'last_sale_price': 59.888625...",-0.000086,98793.6585,1205.7415,"[{u'commission': 0.6, u'amount': 20, u'sid': u..."
2013-06-11 20:00:00,59.712600,-1194.85200,96400.43400,3582.75600,"[{u'status': 1, u'created': 2013-06-10 00:00:0...",2013-06-11 20:00:00+00:00,2013-06-11 13:31:00+00:00,-7.64100,99983.19000,"[{u'amount': 60, u'last_sale_price': 59.7126, ...",-0.000076,97595.2860,2395.5450,"[{u'commission': 0.6, u'amount': 20, u'sid': u..."
2013-06-12 20:00:00,58.974379,-1180.08758,95220.34642,4717.95032,"[{u'status': 1, u'created': 2013-06-11 00:00:0...",2013-06-12 20:00:00+00:00,2013-06-12 13:31:00+00:00,-44.89326,99938.29674,"[{u'amount': 80, u'last_sale_price': 58.974379...",-0.000449,96400.4340,3582.7560,"[{u'commission': 0.6, u'amount': 20, u'sid': u..."

In [39]:
aapl_df.columns

Index([u'AAPL', u'capital_used', u'ending_cash', u'ending_value', u'orders',
       u'period_close', u'period_open', u'pnl', u'portfolio_value',
       u'positions', u'returns', u'starting_cash', u'starting_value',
       u'transactions'],
      dtype='object')

In [41]:
aapl_trans = aapl_df[["AAPL", "transactions"]]

In [42]:
aapl_trans.head()

,AAPL,transactions
2013-06-06 20:00:00,59.829950,[]
2013-06-07 20:00:00,60.287075,"[{u'commission': 0.6, u'amount': 20, u'sid': u..."
2013-06-10 20:00:00,59.888625,"[{u'commission': 0.6, u'amount': 20, u'sid': u..."
2013-06-11 20:00:00,59.712600,"[{u'commission': 0.6, u'amount': 20, u'sid': u..."
2013-06-12 20:00:00,58.974379,"[{u'commission': 0.6, u'amount': 20, u'sid': u..."

In [46]:
aapl_trans.iloc[1]["transactions"]

[{'amount': 20,
  'commission': 0.6,
  'dt': Timestamp('2013-06-07 00:00:00+0000', tz='UTC'),
  'order_id': 'fc39d8014ffb4b5697ac80edd5a12a4f',
  'price': 60.31707500000024,
  'sid': 'AAPL'}]

In [58]:
aapl_trans["transactions"][2]

[{'amount': 20,
  'commission': 0.6,
  'dt': Timestamp('2013-06-10 00:00:00+0000', tz='UTC'),
  'order_id': '70e0428005dc45bdaf903a39dbf09ac3',
  'price': 59.91862500000019,
  'sid': 'AAPL'}]

In [56]:
sum_commision = sum([data[0]["commission"] for data in aapl_trans["transactions"] if len(data) > 0])

In [57]:
sum_commision

151.19999999999928